 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/238271eca31a55782625e8124de4f761ae07992e1782e0fa9919bdfed044d9aa274257b4e8d2699b411e7ee25824c9029881c0477b975c18495298_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 598px;
}

.u-section-1 .u-group-1 {
  width: 902px;
  min-height: 358px;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 0 32px;
}

.u-section-1 .u-text-2 {
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 14px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 793px;
}

.u-section-2 .u-gallery-1 {
  height: 793px;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding: 0 0 0 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 110px;
  width: 40px;
  height: 40px;
}

@media (max-width: 575px) {
  .u-section-2 .u-carousel-thumbnail-1 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 60px;
    height: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1657px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 207px;
  margin: 28px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 16px 0 12px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1223px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-1 {
  width: 50px;
  height: 50px;
  margin: 0 469px 0 11px;
  padding: 0;
}

.u-section-3 .u-text-2 {
  width: 337px;
  font-weight: 700;
  margin: -39px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 22px 11px 0;
}

.u-section-3 .u-accordion-1 {
  width: 510px;
  margin: 11px auto 0;
}

.u-section-3 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
}

.u-section-3 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-4 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-5 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-6 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-icon-10 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-7 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-icon-12 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-7 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-8 {
  padding: 20px;
}

.u-section-3 .u-accordion-item-8 {
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-8 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-icon-14 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-8 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-9 {
  padding: 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1223px;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-15 {
  width: 50px;
  height: 50px;
  margin: 0 469px 0 11px;
  padding: 0;
}

.u-section-3 .u-text-12 {
  width: 337px;
  font-weight: 700;
  margin: -39px auto 0;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  margin: 22px 11px 0;
}

.u-section-3 .u-accordion-2 {
  width: 510px;
  margin: 11px auto 0;
}

.u-section-3 .u-accordion-link-9 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-9 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-11 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-10 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-10 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-12 {
  padding: 20px;
}

.u-section-3 .u-text-15 {
  font-size: 1.25rem;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 769px;
}

.u-section-3 .u-container-layout-13 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-19 {
  width: 50px;
  height: 50px;
  margin: 60px 469px 0 11px;
  padding: 0;
}

.u-section-3 .u-text-16 {
  width: 337px;
  font-weight: 700;
  margin: -39px auto 0;
}

.u-section-3 .u-text-17 {
  font-size: 1.25rem;
  margin: 22px 11px 0;
}

.u-section-3 .u-accordion-3 {
  width: 510px;
  margin: 11px auto 0;
}

.u-section-3 .u-accordion-link-11 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-11 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-14 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-12 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-12 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-15 {
  padding: 20px;
}

.u-section-3 .u-text-19 {
  font-size: 1.25rem;
}

.u-section-3 .u-accordion-link-13 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-13 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-16 {
  padding: 20px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 769px;
}

.u-section-3 .u-container-layout-17 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-23 {
  width: 50px;
  height: 50px;
  margin: 60px 469px 0 11px;
  padding: 0;
}

.u-section-3 .u-text-21 {
  width: 337px;
  font-weight: 700;
  margin: -39px auto 0;
}

.u-section-3 .u-text-22 {
  font-size: 1.25rem;
  margin: 22px 11px 0;
}

.u-section-3 .u-accordion-4 {
  width: 510px;
  margin: 11px auto 0;
}

.u-section-3 .u-accordion-link-14 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-14 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-18 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-15 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-15 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-19 {
  padding: 20px;
}

.u-section-3 .u-text-24 {
  font-size: 1.25rem;
}

.u-section-3 .u-accordion-link-16 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-16 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-20 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2751px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1384px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1008px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 381px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-accordion-1 {
    width: 430px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1008px;
  }

  .u-section-3 .u-icon-15 {
    margin-right: 381px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-accordion-2 {
    width: 430px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 634px;
  }

  .u-section-3 .u-icon-19 {
    margin-right: 381px;
  }

  .u-section-3 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-accordion-3 {
    width: 430px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 634px;
  }

  .u-section-3 .u-icon-23 {
    margin-right: 381px;
  }

  .u-section-3 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-accordion-4 {
    width: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1517px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 2105px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 284px;
  }

  .u-section-3 .u-text-2 {
    width: 320px;
  }

  .u-section-3 .u-accordion-1 {
    width: 320px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-15 {
    margin-right: 284px;
  }

  .u-section-3 .u-text-12 {
    width: 320px;
  }

  .u-section-3 .u-accordion-2 {
    width: 320px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-19 {
    margin-right: 284px;
  }

  .u-section-3 .u-text-16 {
    width: 320px;
  }

  .u-section-3 .u-accordion-3 {
    width: 320px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-23 {
    margin-right: 284px;
  }

  .u-section-3 .u-text-21 {
    width: 320px;
  }

  .u-section-3 .u-accordion-4 {
    width: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1717px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1556px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 462px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-7 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-8 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-15 {
    margin-right: 462px;
  }

  .u-section-3 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-3 .u-accordion-link-9 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-10 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-19 {
    margin-right: 462px;
  }

  .u-section-3 .u-text-17 {
    font-size: 1rem;
  }

  .u-section-3 .u-accordion-link-11 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-12 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-13 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-23 {
    margin-right: 462px;
  }

  .u-section-3 .u-text-22 {
    font-size: 1rem;
  }

  .u-section-3 .u-accordion-link-14 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-15 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-16 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 2273px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 284px;
  }

  .u-section-3 .u-icon-15 {
    margin-right: 284px;
  }

  .u-section-3 .u-icon-19 {
    margin-right: 284px;
  }

  .u-section-3 .u-icon-23 {
    margin-right: 284px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 783px;
}

.u-section-4 .u-text-1 {
  width: 321px;
  font-weight: 700;
  margin: 1px auto 0;
}

.u-section-4 .u-accordion-1 {
  margin: 22px 0 1px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.375rem;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-1 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.375rem;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-2 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.375rem;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-3 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-item-4 {
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.375rem;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-4 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-5 {
  background-image: none;
  font-size: 1.375rem;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-5 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-5 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-6 {
  background-image: none;
  font-size: 1.375rem;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-6 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-6 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 91px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 17px auto 0;
}.u-section-6 .u-sheet-1 {
  min-height: 267px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 1px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 266px;
}

.u-section-6 .u-container-layout-1 {
  padding: 19px 25px 2px;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  margin: 2px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 266px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-6 .u-group-elements-1 {
  width: 256px;
  min-height: 209px;
  height: auto;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 0 50px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  color: rgba(0, 0, 0, 0);
  font-size: 1.25rem;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-6 .u-text-3 {
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 219px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-6 .u-group-elements-1 {
    width: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-group-elements-1 {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}